<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="enable_rviz" default="false" />
    <group if="$(arg enable_rviz)">
        <node pkg="rviz" type="rviz" name="sloam_rviz" output="screen" args="-d $(find sloam)/launch/rviz/decentralized_sloam.rviz" />
    </group>

    
    
    <arg name="scarab40" value="/opt/bags/abstract_observation_bag/scarab-with-comm/Scarabs-with-comms-VEMS-SLAM-scarab40-EST_2024-01-21-11-19-36.bag"/>
    <arg name="scarab41" value="/opt/bags/abstract_observation_bag/scarab-with-comm/Scarabs-with-comms-VEMS-SLAM-scarab41-EST_2024-01-21-11-19-38.bag"/>
    <arg name="scarab45" value="/opt/bags/abstract_observation_bag/scarab-with-comm/Scarabs-with-comms-VEMS-SLAM-scarab45-EST_2024-01-21-11-19-38.bag"/>
    

    <node name="parking3_play" pkg="rosbag" type="play" args="--topics /scarab40/odom_laser /robot0/semantic_meas_sync_odom --bags $(arg scarab40) --clock -r 3">
        <remap from="/scarab40/odom_laser" to="/robot0/Odometry"/>
    </node>

    <node name="parking2_play" pkg="rosbag" type="play" args="--topics /scarab41/odom_laser /robot0/semantic_meas_sync_odom --bags $(arg scarab41) -r 3">
        <remap from="/scarab41/odom_laser" to="/robot1/Odometry"/>
        <remap from="/robot0/semantic_meas_sync_odom" to="/robot1/semantic_meas_sync_odom"/>
    </node>

    <node name="parking1_play" pkg="rosbag" type="play" args="--topics /scarab45/odom_laser /robot0/semantic_meas_sync_odom --bags $(arg scarab45) -r 3">
        <remap from="/scarab45/odom_laser" to="/robot2/Odometry"/>
        <remap from="/robot0/semantic_meas_sync_odom" to="/robot2/semantic_meas_sync_odom"/>
    </node>    
</launch>
