<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="enable_rviz" default="true" />
    <group if="$(arg enable_rviz)">
        <node pkg="rviz" type="rviz" name="sloam_rviz" output="screen" args="-d $(find sloam)/launch/rviz/decentralized_sloam.rviz" />
    </group>

    <arg name="3rd-parking-lot-bag" value="/opt/bags/abstract_observation_bag/fined_tuned_bag/robot6-from-3rd-parking-lot-around-building-falcon-xmas-slam-pennovation_2023-10-20-13-22-40.bag"/>
    <arg name="2nd-parking-lot-bag" value="/opt/bags/abstract_observation_bag/fined_tuned_bag/robot5-from-2nd-parking-lot-falcon-xmas-slam-pennovation_2023-10-20-13-00-01.bag"/>
    <arg name="1st-parking-lot-bag" value="/opt/bags/abstract_observation_bag/fined_tuned_bag/robot4-from-1st-parking-lot-falcon-xmas-slam-pennovation_2023-10-20-13-07-35.bag"/>
    
    <!-- <rosparam file="$(find sloam)/params/sloam.yaml" command="load" />
    <include file="$(find sloam)/launch/single_robot_sloam_test_benchmark.launch">
        <arg name="hostRobot_ID" value="0" />
        <arg name="enable_rviz" value="false"/>
    </include>

    <include file="$(find sloam)/launch/single_robot_sloam_test_benchmark.launch">
        <arg name="hostRobot_ID" value="1" />
        <arg name="enable_rviz" value="false"/>
    </include>

    <include file="$(find sloam)/launch/single_robot_sloam_test_benchmark.launch">
        <arg name="hostRobot_ID" value="2" />
        <arg name="enable_rviz" value="false"/>
    </include> -->

     <node name="parking3_play" pkg="rosbag" type="play" args="--topics /Odometry /robot0/semantic_meas_sync_odom --bags $(arg 3rd-parking-lot-bag)">
        <remap from="/Odometry" to="/robot0/odom"/>
     </node>

     <node name="parking2_play" pkg="rosbag" type="play" args="--topics /Odometry /robot0/semantic_meas_sync_odom --bags $(arg 2nd-parking-lot-bag)">
        <remap from="/Odometry" to="/robot1/odom"/>
        <remap from="/robot0/semantic_meas_sync_odom" to="/robot1/semantic_meas_sync_odom"/>
     </node>

    <node name="parking1_play" pkg="rosbag" type="play" args="--topics /Odometry /robot0/semantic_meas_sync_odom --bags $(arg 1st-parking-lot-bag)">
        <remap from="/Odometry" to="/robot2/odom"/>
        <remap from="/robot0/semantic_meas_sync_odom" to="/robot2/semantic_meas_sync_odom"/>
     </node>     
</launch>
