<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="dir" default="/opt/bags/xmas-slam-bags" />
  <arg name="robot1_ns" default="/quadrotor1" />
  <arg name="robot2_ns" default="/quadrotor2" />
  <arg name="robot3_ns" default="/quadrotor3" />
  <arg name="robot4_ns" default="/quadrotor4" />
  <node pkg="rosbag" type="record" name="recorder"
    args="
  -o $(arg dir)
    $(arg robot1_ns)/car_cuboids_body
    $(arg robot1_ns)/lidar_odom
    $(arg robot1_ns)/ground_cloud
    $(arg robot1_ns)/tree_cloud
    $(arg robot2_ns)/car_cuboids_body
    $(arg robot2_ns)/lidar_odom
    $(arg robot2_ns)/ground_cloud
    $(arg robot2_ns)/tree_cloud
    $(arg robot3_ns)/car_cuboids_body
    $(arg robot3_ns)/lidar_odom
    $(arg robot3_ns)/ground_cloud
    $(arg robot3_ns)/tree_cloud
    $(arg robot4_ns)/car_cuboids_body
    $(arg robot4_ns)/lidar_odom
    $(arg robot4_ns)/ground_cloud
    $(arg robot4_ns)/tree_cloud
    "
    output="screen" />
</launch>