<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="dir" default="/opt/bags/xmas-slam-bags/multi-robot" />
  <node pkg="rosbag" type="record" name="recorder"
    args="
  -o $(arg dir)
  /tf 
  /tf_static 
  /cloud_registered 
  /os_node/segmented_point_cloud_no_destagger 
  /Odometry 
  /ground_plane_marker 
  /cylinder_marker 
  /car_cuboids
    "
    output="screen" />
</launch>