<launch>
    <node name="rosbag_play" pkg="rosbag" type="play" args="/opt/xmas_slam_ws/src/generic-sloam/object_modeller/script/play_bag_remap_scripts/robot1-2023-09-28-10-35-14.bag --topics /tf /quadrotor1/lidar_odom /semantic_meas_sync_odom">
        <remap from="/semantic_meas_sync_odom" to="/quadrotor1/semantic_meas_sync_odom"/>
        <remap from="/quadrotor1/lidar_odom" to="/quadrotor1/lidar_odom"/>
    </node>

    <node name="rosbag_play2" pkg="rosbag" type="play" args="/opt/xmas_slam_ws/src/generic-sloam/object_modeller/script/play_bag_remap_scripts/robot2-2023-09-28-10-35-57.bag --topics /quadrotor1/lidar_odom /semantic_meas_sync_odom">
        <remap from="/semantic_meas_sync_odom" to="/quadrotor2/semantic_meas_sync_odom"/>
        <remap from="/quadrotor1/lidar_odom" to="/quadrotor2/lidar_odom"/>
    </node>


    <node name="rosbag_play3" pkg="rosbag" type="play" args="/opt/xmas_slam_ws/src/generic-sloam/object_modeller/script/play_bag_remap_scripts/robot3-2023-09-28-10-36-32.bag --topics /quadrotor1/lidar_odom /semantic_meas_sync_odom">
        <remap from="/semantic_meas_sync_odom" to="/quadrotor3/semantic_meas_sync_odom"/>
        <remap from="/quadrotor1/lidar_odom" to="/quadrotor3/lidar_odom"/>
    </node>

    <node name="rosbag_play4" pkg="rosbag" type="play" args="/opt/xmas_slam_ws/src/generic-sloam/object_modeller/script/play_bag_remap_scripts/robot4-2023-09-28-10-36-53.bag --clock --topics /quadrotor1/lidar_odom /semantic_meas_sync_odom">
        <remap from="/semantic_meas_sync_odom" to="/quadrotor4/semantic_meas_sync_odom"/>
        <remap from="/quadrotor1/lidar_odom" to="/quadrotor4/lidar_odom"/>
    </node>
</launch>