<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="dir" default="/opt/bags/pennovation-bags/for_process_cloud_node" />
  <node pkg="rosbag" type="record" name="recorder" args="
  -o $(arg dir)
  /os_node/image
  /os_node/camera_info
  /os_node/llol_odom/pose
  /os_node/llol_odom/sweep
  /os_node/llol_odom/path
  /os_node/segmented_point_cloud_no_destagger
  /tf_static
  /tf
    " output="screen" />
</launch>
