<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- <arg name="dir" default="/opt/bags/pennovation-bags/generic_sloam_multi_robot" /> -->
  <arg name="dir" default="/opt/bags/pennovation-bags/stats_car_confidence_sloam_multi_robot" />
  <node pkg="rosbag" type="record" name="recorder" args="
  -o $(arg dir)
  /clock                                                                                                                                                                
  /os_node/llol_odom/pose                                                                                                                                                                
  /os_node/llol_odom/sweep   
  /tf
  /tf_static             
  /os_node/segmented_point_cloud_no_destagger
  /os_node/segmented_point_cloud_no_destagger/car_prob                                                                                                                                                                
  /os_node/llol_odom/pose_cov
  /os_node/llol_odom/path                                                                                                                                                            
  /os_node/llol_odom/runtime                                                                                                                                                             
  /os_node/llol_odom/traj                                                                                                                                                                
  /os_node/metadata                                                                                                                                                                      
  /os_node/range
  /os_node/signal                                                                                                                                                                        
  /quadrotor/odom                                                                                                                                                                        
  /quadrotor/vio/odom                                                                                                                                                                    
  /rosout                                                                                                                                                                                
  /rosout_agg
    " output="screen" />
</launch>
