<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- <arg name="dir" default="/opt/bags/pennovation-bags/generic_sloam_multi_robot" /> -->
  <arg name="dir" default="/opt/bags/xmas-slam-bags/test-map-merging-robot1ANDrobot2" />
  <node pkg="rosbag" type="record" name="recorder" args="
  -o $(arg dir)
  /robot_0/semantic_meas_sync_odom
  /robot_0/vio_odom
  /robot_1/semantic_meas_sync_odom
  /robot_1/vio_odom
    " output="screen" />
</launch>
